.container {
  display: flex;
  max-width: 1980px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper {

}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading-circle {
  width: 80px;
  height: 80px;
  border: 4px solid transparent;
  border-top: 6px solid #007BFF;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

