.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
    height: 35px;
}

.even {
    border-radius: 20%;
    box-shadow: 0px 1px 4px rgb(1, 241, 161);
    cursor: pointer;
}

.notEven {
    border-radius: 20%;
    box-shadow: 0px -1px 4px rgb(1, 241, 161);
    cursor: pointer;
}

.notEven:hover {
    background-color: aquamarine;
}

.even:hover {
    background-color: aquamarine;
}

.title {
    color: blue;
    font-size: 18px;
    font-weight: 400;
}
