.footer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: aquamarine;
    color: blue;
    font-weight: 700;
}